/* ----------------------------------------------------------------------------
 * Structure
 * ------------------------------------------------------------------------- */

// Font family
/* lato-regular - latin */
// @font-face {
// 	font-family: "Lato";
// 	font-style: normal;
// 	font-weight: 400;
// 	src: local(""),
// 		url("../fonts/lato/lato-v17-latin-regular.woff2") format("woff2"),
// 		/* Chrome 26+, Opera 23+, Firefox 39+ */
// 			url("../fonts/lato/lato-v17-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
// }
// /* lato-900 - latin */
// @font-face {
// 	font-family: "Lato";
// 	font-style: normal;
// 	font-weight: 900;
// 	src: local(""), url("../fonts/lato/lato-v17-latin-900.woff2") format("woff2"),
// 		/* Chrome 26+, Opera 23+, Firefox 39+ */
// 			url("../fonts/lato/lato-v17-latin-900.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
// }

@import url("https://use.typekit.net/xsk3mmq.css");

@font-face {
	font-family: "GravurLLWeb-CondLight";
	src: url("../fonts/gravur/GravurLLWeb-CondLight.woff") format("woff");
}

@font-face {
	font-family: "GravurLLWeb-CondLight";
	src: url("../fonts/gravur/GravurLLWeb-CondLight.woff2") format("woff2");
}

@font-face {
	font-family: "GravurLLWeb-CondRegular";
	src: url("../fonts/gravur/GravurLLWeb-CondRegular.woff") format("woff");
}

@font-face {
	font-family: "GravurLLWeb-CondRegular";
	src: url("../fonts/gravur/GravurLLWeb-CondRegular.woff2") format("woff2");
}

/* subset */

@font-face {
	font-family: "GravurLLSub-CondLightSubset";
	src: url("../fonts/gravur/GravurLLSub-CondLightSubset.woff2") format("woff2");
}

@font-face {
	font-family: "GravurLLSub-CondLightSubset";
	src: url("../fonts/gravur/GravurLLSub-CondLightSubset.woff") format("woff");
}

@font-face {
	font-family: "GravurLLSub-CondRegularSubset";
	src: url("../fonts/gravur/GravurLLSub-CondRegularSubset.woff2")
		format("woff2");
}

@font-face {
	font-family: "GravurLLSub-CondRegularSubset";
	src: url("../fonts/gravur/GravurLLSub-CondRegularSubset.woff") format("woff");
}

/* global box-sizing */
*,
*:after,
*:before {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

html {
	height: 100%;
	min-height: 100%;
}

body {
	font: 400 16px/1.4 sans-serif;
	color: $black;
	margin: 0;
	height: 100%;
	min-height: 100%;
}

/* clear */
.clear:before,
.clear:after {
	content: " ";
	display: table;
}

.clear:after {
	clear: both;
}

.clear {
	*zoom: 1;
}

img {
	max-width: 100%;
	vertical-align: bottom;
	height: auto;
}

a {
	color: #444;
	text-decoration: none;
}

a:hover {
	color: #444;
}

a:focus {
	outline: 0;
}

a:hover,
a:active {
	outline: 0;
}

input:focus {
	outline: 0;
	border: 1px solid $black;
}

select {
	width: 100%;
}
