/* ----------------------------------------------------------------------------
 * Variables
 * ------------------------------------------------------------------------- */

/* ----------------------------------------------------------------------------
 * Colors
 * ------------------------------------------------------------------------- */

$green: #437a29;
$alphaGreen: #f1f4eb;

$white: #ffffff;
$black: #000000;

/* ----------------------------------------------------------------------------
 * Primary Color Variants
 * ------------------------------------------------------------------------- */

$color--primary: #ed4846;

$max-width: 1280px;
$gap: 40px;
$gap-top: 30px;
