/**
 * Header SCSS
 */

header#site-header {
	@extend .wrapper;
	padding: 0 !important;
	color: $green;

	.header-inner {
		height: 160px;
		padding: $gap-top $gap 15px;
		position: relative;

		.logo {
			position: absolute;
			left: 40px;
			top: 30px;
		}

		nav {
			display: inline-block;
			position: absolute;
			left: $gap;
			bottom: 15px;
			font-size: 28px;

			ul.menu {
				li {
					float: left;
					margin-right: 30px;
					line-height: 1;
					margin-bottom: -3px;

					a {
						&:hover {
							color: $green;
						}
					}
					&.current-page-ancestor a {
						color: $green;
					}
				}
			}
		}

		h2 {
			position: absolute;
			top: $gap-top;
			right: $gap;
			font-size: 28px;
			font-weight: normal;
			line-height: 1;
		}

		.alt-logo {
			position: absolute;
			top: $gap-top;
			right: 260px;
			height: 115px;

			svg {
				height: 100%;
				width: auto;
			}
		}

		.contact-icons {
			position: absolute;
			bottom: 15px;
			right: $gap;
			float: right;

			li {
				display: inline-block;
				margin-left: 15px;
			}
		}
	}
}
