/**
 * Header SCSS
 */

 header#site-header {

    @extend .wrapper;

    .header-inner {

        position: relative;

        .logo {
            position: absolute;
            left: 0;
            top: 0;
        }

        nav {
            display: inline-block;
            float: left;
            
            ul.menu {
                li {
                    float: left;
                }
            }

        }
    }

 }