.projekte {
	max-width: calc(100% + 16px) !important;
	width: calc(100% + 16px) !important;
	margin-left: -8px;
	padding-left: 0 !important;
	padding-top: 0 !important;

	&.text-view .projekte-wrapper .projekt {
		width: 100%;
		padding-top: 0;
		padding-bottom: 16px;

		.projekt-slider {
			width: calc(25% - 16px);
			height: 190px;
			position: relative;
			float: left;
		}

		.projekt-meta {
			display: block;
			width: calc(75% - 16px);
			float: right;
		}
	}

	.projekte-nav {
		width: 100%;
		padding: 30px 0 4px;
		position: relative;
		display: flex;
		flex-wrap: wrap;
		align-items: center;

		> svg {
			margin-left: 8px;
			cursor: pointer;
			height: 18px;
			width: auto;
			path {
				fill: $green;
			}
			&:hover path {
				fill: $black;
			}

			&.active-icon path {
				fill: $black;
			}
		}

		&.cat-view {
			#projekte-cats {
				display: block;
			}
		}

		#projekte-current-cat {
			background-color: $alphaGreen;
			padding: 0 5px 2px;
			height: 24px;
			line-height: 1px;
			display: flex;
			flex-wrap: wrap;
			align-items: center;
		}

		#projekte-cats {
			position: absolute;
			top: 24px;
			left: 65px;
			padding: 8px 16px;
			z-index: 2;
			background-color: $alphaGreen;
			display: none;

			ul {
				list-style: none;
				padding-right: 16px;

				li {
					padding-bottom: 4px;
					color: $green;
					cursor: pointer;

					&:last-child {
						padding-bottom: 0;
					}

					&:hover {
						color: $black;
					}
				}
			}

			.close-icon {
				position: absolute;
				right: 12px;
				top: 13px;
				cursor: pointer;

				&:hover path {
					stroke: $black;
				}
			}
		}
	}

	.close {
		display: none;
	}

	&.single-projekt-view {
		width: calc(100% + 24px) !important;
		max-width: calc(100% + 24px) !important;
		margin-left: -12px;

		.projekt:not(.active-projekt) {
			display: none;
		}

		.projekte-wrapper {
			margin-top: 32px;
		}

		.projekte-nav {
			display: none;
		}
	}

	.projekte-wrapper {
		max-width: 100% !important;
		display: flex;
		flex-wrap: wrap;

		.projekt {
			width: 25%;
			padding-top: 206px;
			position: relative;
			cursor: pointer;

			&.active-projekt {
				width: 100%;
				display: flex;
				flex-wrap: wrap;
				padding-top: 8px;
				cursor: default;

				.close {
					display: block;
				}

				.projekt-slider {
					width: calc(50% - 24px);
					position: relative;
					top: 0;
					left: 0;
					// padding-top: 36.6%;
					height: 447px;
					margin: 0 12px 12px;

					.swiper-wrapper,
					.swiper-btn {
						display: none;
					}
				}

				.projekt-meta {
					display: inline-block;
					width: calc(50% - 24px);
					margin: 0 12px 12px;
					background-color: $alphaGreen;
					padding: 15px 25px;

					.projekt-category {
						display: none;
					}
				}

				.projekt-foto {
					display: inline-block;
					width: calc(50% - 24px);
					padding-top: 36.6%;
					margin: 12px;
					background-color: $alphaGreen;
					background-position: center center;
					background-repeat: no-repeat;
					background-size: cover;
				}
			}
			.projekt-slider {
				position: absolute;
				left: 8px;
				top: 8px;
				width: calc(100% - 16px);
				height: calc(100% - 16px);
				background-size: cover;
				background-repeat: no-repeat;

				.projekt-slide {
					width: 100%;
					height: 100%;
				}

				.swiper-btn {
					opacity: 0;
					transition: opacity 0.3s linear;
				}

				&:hover {
					.swiper-btn {
						opacity: 1;
					}
				}
			}
			.projekt-meta {
				display: none;
				padding-top: 8px;

				.name {
					text-transform: uppercase;
				}

				.ort {
					text-transform: uppercase;
				}

				.projekt-info {
					padding-top: 8px;
				}

				.projekt-category {
					display: none;
				}
			}
			.projekt-foto {
				display: none;
			}
		}
	}

	#projekte-current-cat {
		margin-left: 8px;
		display: inline-block;
		opacity: 0;
		&.active-filter {
			opacity: 1;
		}
	}
}

.close {
	width: 24px;
	height: 24px;
	background: url("../images/mobile-nav-close.svg") center center / contain
		no-repeat;
	position: absolute;
	right: 25px;
	top: 25px;
	cursor: pointer;
	display: block;
}
